<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <worldline_hosted_checkout>
                <model>Worldline\HostedCheckout\Model\Method\Adapter\Virtual</model>
                <active>0</active>
                <title>Pay with Additional Payment Methods by Worldline</title>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <debug>0</debug>
                <sort_order>20</sort_order>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_sale>1</can_sale>
                <authorization_mode>final</authorization_mode>
                <order_status>processing</order_status>
                <group>worldline_group</group>
                <vault>1</vault>
                <cart_lines>1</cart_lines>
                <skip_3d>0</skip_3d>
                <direct_debit_recurrence_type>UNIQUE</direct_debit_recurrence_type>
                <direct_debit_signature_type>SMS</direct_debit_signature_type>
                <allow_attempts>10</allow_attempts>
                <session_timeout></session_timeout>
            </worldline_hosted_checkout>
            <worldline_hosted_checkout_vault>
                <model>Worldline\HostedCheckout\Model\Method\Vault\HCVault\Virtual</model>
                <active>1</active>
                <title>Stored Cards (Worldline Online Payments)</title>
                <group>worldline_group</group>
            </worldline_hosted_checkout_vault>
        </payment>
    </default>
</config>
